<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="confirmation" value="Are you sure you want to start a Zoom Meeting: {0}" />
    <add key="zoomUrlCheck" value="https://www.zoom" />
    <add key="zoomUrlCheckError" value="The url is not allowed or supplied" />
  </appSettings>
</configuration>
